/* --------------------general styling---------------------- */
/* colors
almost white: #fefefe
light brown: #D8C3A5
dark brown: #8E8D8A
light orange: ##D8C3A5
dark orange: #E85A4F*
other orange: #ff9966*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    text-align: center;
    text-decoration: none;
    color: #8E8D8A;
    background-color: #f2eeed;
}

a{
    text-decoration: none;
    color: #f2eeed;
}

.dotted-list{
    list-style-type: circle;
    list-style-position: inside;
    text-align: left;
    padding-left: 20px;
}

ul{
    list-style: none;
}

li{
    text-decoration: none;
}

h1{
    padding: 5px 0 20px 0;
    font-size: 58px;
}

h2{
    padding: 0px 0 8px 0;
    font-size: 48px;
}

h3{
    padding: 0px 0 6px 0;
    font-size: 20px;
}

h4{
    padding: 0px 0 4px 0;
    font-size: 16px;
}

h5{
    padding: 0px 0 4px 0;
    font-size: 14px;
}

.text-primary{
    color: #f2eeed;
}

.link-light{
    color: #f2eeed;
}

.link-light:hover{
    color: #8E8D8A;
}

.page-title{
    margin: 20px;
}

/* ------------------------content------------------------- */
/* --------------navbar-------------- */
#navbar{
    background-color: #8E8D8A;
    height: 77px;
    position: sticky;
    top: 0;
    overflow: auto;
}

#navbar #menu-title{
    float: left;
    font-size: 46px;
    text-align: center;
    margin: 10px 25px;
}

#navbar #menu-title a{
    color: #f2eeed;
}

#navbar ul{
    float: right;
    list-style: none;
    height: 100%;
}

#navbar li{
    float: left;
}

#navbar li a{
    text-align: center;
    padding: 25px;
    display: block;
    color: #f2eeed;
}

#navbar li a:hover,
#navbar li a.current{
    background-color: #D8C3A5;
    color: #ff9966
}

/* -------------home info---------------- */
#home-info{
    background-color: #f2eeed;
    padding: 10px;
    height: 884px;
}

#home-info #info-img{
    background: url('./images/bori_side.jpg');
    background-repeat: no-repeat;
    width: 700px;
    height: 844px;
    box-shadow: 0 0 35px 45px inset #f2eeed;;
    margin: 10px;
    float: left;
}

#home-info #info-content{
    display: inline;
    background-color: hsla(20, 100%, 70%, 80%);
    position: absolute;
    top: 50px;
    right: 50px;
    color: #8E8D8A;
    border-radius: 15% 0 15% 0;
    padding: 5%;
    text-align: right;
    display: block;
}

#home-info #info-content a:hover{
    color: #8E8D8A;
}


/* ------side navbar for social media----- */
#social-media-sidenav{
    margin-top: 620px;
    position: absolute;
    right: 0px;
    overflow: hidden;
    width: 110px;
    height: 180px;
}

#social-media-sidenav ul{
    position: absolute;
    right: -20px;
}

#social-media-sidenav ul li{
    height: 50px;
    border-radius: 15px 0 15px 0;
    background-color: #8E8D8A;
    margin: 5px;
    padding: 10px;
    width: 120px;
    position: absolute;
    right: -30px;
    transition: 0.3s;
}

#social-media-sidenav #linkedin{
    position: absolute;
    top: 60px;
}

#social-media-sidenav #facebook{
    position: absolute;
    top: 120px;
}
  
#social-media-sidenav ul li:hover {
   right: 0; /* On mouse-over, make the elements appear as they should */
}

/* --------------sidebar for resume----------- */
#resume-sidenav{
    margin-top: 20px;
    position: absolute;
    right: 0px;
    overflow: hidden;
    width: 200px;
    height: 240px;
}

#resume-sidenav ul{
    position: absolute;
    right: -20px;
}

#resume-sidenav ul li{
    height: 50px;
    border-radius: 15px 0 15px 0;
    background-color: #8E8D8A;
    margin: 5px;
    padding: 10px;
    width: 200px;
    position: absolute;
    right: -30px;
    transition: 0.3s;
}

#resume-sidenav #job{
    position: absolute;
    top: 60px;
}

#resume-sidenav #awards{
    position: absolute;
    top: 120px;
}

#resume-sidenav #other{
    position: absolute;
    top: 180px;
}
  
#resume-sidenav ul li:hover {
   right: 0; /* On mouse-over, make the elements appear as they should */
}

/* icons' source: https://www.iconsdb.com/white-icons/linkedin-icon.html */

/* ---------------timeline for resume-------------- */
.timeline{
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 30px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 10px;
    background-color: #ff9966;
    top: 60px;
    bottom: 0px;
    left: 50%;
}

.container{
    max-width: 400px;
    background-color: #D8C3A5;
    padding: 25px;
    margin: 20px 10px;
}

.container-left{
    position: relative;
    left: 0;
    border-radius: 20% 40% 0 40%
}

.container-section-break{
    position: relative;
    left: 25%;
    border-radius: 45%;
    z-index: 1;
    background-color: #8E8D8A;
    color: #f2eeed;
}

.container-right{
    left: 50%;
    position: relative;
    border-radius: 40% 20% 40% 0%;
    /* right: 60px; */
}

.container h1, .container h2, .container h3, .container h4{
    color: #f2eeed;
}

/* -----footer----- */
#main-footer{
    background-color: #8E8D8A;
    color: #f2eeed;
    height: 20%;
    overflow: auto;
}

