*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* --------------------general styling---------------------- */
/* colors
almost white: #fefefe
light brown: #D8C3A5
dark brown: #8E8D8A
light orange: ##D8C3A5
dark orange: #E85A4F*
other orange: #ff9966*/

html, body{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    text-align: center;
    text-decoration: none;
    color: #8E8D8A;
    background-color: #f2eeed;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: #f2eeed;
}

.dotted-list{
    list-style-type: circle;
    list-style-position: inside;
    text-align: left;
    padding-left: 20px;
}

ul{
    list-style: none;
}

ol{
    list-style-position: inside;
    list-style-type: lower-alpha;
}

li{
    text-decoration: none;
}

h1{
    margin: 5px 0 25px 0;
    line-height: 1em;
    font-size: 58px;
}

h2{
    padding: 10px 0 16px 0;
    line-height: 1em;
    font-size: 48px;
}

h3{
    padding: 0px 0 10px 0;
    line-height: 1em;
    font-size: 20px;
}

h4{
    padding: 0px 0 4px 0;
    line-height: 1em;
    font-size: 16px;
}

h5{
    padding: 0px 0 4px 0;
    line-height: 1em;
    font-size: 14px;
}

.text-primary{
    color: #f2eeed;
}

.link-light{
    color: #f2eeed;
}

.link-light:hover{
    color: #8E8D8A;
}

.page-title{
    margin: 40px;
}

.btn{
    background-color: #D8C3A5;
    color: #8E8D8A;
}

.btn:hover{
    background-color: #ff9966;
    color: #f2eeed;
}

.transparent{
    background: none;
}

.transparent:hover{
    opacity: 80%;
}

hr{
    width: 60%;
    margin: 30px auto;
    height: 5px;
    background-color: #8E8D8A;
}

input{
    margin: 5px auto;
}

label{
    margin: 5px auto;
}

button{
    background-color: #8E8D8A;
    color: #f2eeed;
    border-radius: 3px;
    margin: 20px auto;
    width: 60px;
    height: 30px;
    cursor: pointer;
    border: none;
    display: block;
    border-width: 0px;
}

button:hover{
    background-color: #ff9966;
    color: #8E8D8A;
}


/* ------------------------content------------------------- */
/* --------------navbar-------------- */
#navbar{
    background-color: #8E8D8A;
    height: 70px;
}

#navbar #menu-title{
    float: left;
    font-size: 46px;
    text-align: center;
    margin: 15px 25px;
}

#navbar #menu-title a{
    color: #f2eeed;
}

#navbar ul{
    float: right;
    list-style: none;
    height: 100%;
}

#navbar li{
    float: left;
}

#navbar li a{
    text-align: center;
    padding: 25px;
    display: block;
    color: #f2eeed;
}

#navbar li a:hover,
#navbar li a.current{
    background-color: #D8C3A5;
    color: #ff9966
}


/* --------------showcase---------------- */
#showcase{
    background: url('./images/leaf.jpg') no-repeat center fixed;
    background-size: cover;
    height: 800px;
}

/* -------------home and about info---------------- */
#home-info{
    background-color: #f2eeed;
    padding: 10px;
    height: 884px;
}

#home-info #info-img{
    background: url('./images/bori_side.jpg');
    background-repeat: no-repeat;
    width: 700px;
    height: 844px;
    box-shadow: 0 0 35px 45px inset #f2eeed;;
    margin: 10px;
    float: left;
}

.info-content{
    display: inline;
    background-color: hsla(20, 100%, 70%, 80%);
    color: #8E8D8A;
    border-radius: 15% 0 15% 0;
    padding: 5%;
    display: block;
}

#home-info-content{
    position: absolute;
    top: 50px;
    right: 50px;
    text-align: right;
    display: block;
} 

#quote-info-content{
    width: 500px;
    position: absolute;
    top: 150px;
    left: 150px;
    text-align: center;
    display: block;
}

#home-info .info-content a:hover{
    color: #8E8D8A;
}


/* ------side navbar for social media----- */
#social-media-sidenav{
    margin-top: 620px;
    position: absolute;
    right: 0px;
    overflow: hidden;
    width: 110px;
    height: 180px;
}

#social-media-sidenav ul{
    position: absolute;
    right: -20px;
}

#social-media-sidenav ul li{
    height: 50px;
    border-radius: 15px 0 15px 0;
    background-color: #8E8D8A;
    margin: 5px;
    padding: 10px;
    width: 120px;
    position: absolute;
    right: -30px;
    transition: 0.3s;
}

#social-media-sidenav #linkedin{
    position: absolute;
    top: 60px;
}

#social-media-sidenav #facebook{
    position: absolute;
    top: 120px;
}
  
#social-media-sidenav ul li:hover {
   right: 0; /* On mouse-over, make the elements appear as they should */
}

/* --------------sidebar for resume----------- */
#resume-sidenav{
    margin-top: 20px;
    position: absolute;
    right: 0px;
    overflow: hidden;
    width: 200px;
    height: 240px;
}

#resume-sidenav ul{
    position: absolute;
    right: -20px;
}

#resume-sidenav ul li{
    height: 50px;
    border-radius: 15px 0 15px 0;
    background-color: #8E8D8A;
    margin: 5px;
    padding: 10px;
    width: 200px;
    position: absolute;
    right: -30px;
    transition: 0.3s;
}

#resume-sidenav #job{
    position: absolute;
    top: 60px;
}

#resume-sidenav #awards{
    position: absolute;
    top: 120px;
}

#resume-sidenav #other{
    position: absolute;
    top: 180px;
}
  
#resume-sidenav ul li:hover {
   right: 0; /* On mouse-over, make the elements appear as they should */
}

/* icons' source: https://www.iconsdb.com/white-icons/linkedin-icon.html */

/* ---------------timeline for resume-------------- */
.timeline{
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 30px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 10px;
    background-color: #ff9966;
    top: 60px;
    bottom: 0px;
    left: 50%;
}

.leaf{
    max-width: 400px;
    background-color: #D8C3A5;
    padding: 25px;
    margin: 20px 10px;
}


.leaf-left{
    position: relative;
    left: 0;
    border-radius: 40% 40% 0 40%;
    box-shadow: -5px 5px 10px #8E8D8A;
}

.leaf-left:hover{
    box-shadow: -5px 10px 20px #8E8D8A;
}

.leaf-section-break{
    position: relative;
    left: 25%;
    border-radius: 45%;
    z-index: 1;
    background-color: #8E8D8A;
    color: #f2eeed;
    box-shadow: 0px 5px 10px #8E8D8A;
}

.leaf-section-break:hover{
    box-shadow: 0px 10px 20px #8E8D8A;
}

.leaf-right{
    left: 50%;
    position: relative;
    border-radius: 40% 40% 40% 0%;
    box-shadow: 5px 5px 10px #8E8D8A;
    /* right: 60px; */
}

.leaf-right:hover{
    box-shadow: 5px 10px 20px #8E8D8A;
}


.leaf h1, .leaf h2, .leaf h3, .leaf h4{
    color: #f2eeed;
}

/* -----------------slideshow---------------- */
.slideshow-container{
    position: relative;
    margin: auto;
    padding: 5px;
    max-width: 1600px;
}

.slide{
    display: none;
}

.btn-prev, .btn-next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    transition: 0.5s;
    background: hsl(12, 16.1%, 93.9%, 60%);
    box-shadow: 0 0 10px 10px hsl(12, 16.1%, 93.9%, 60%);
}

.btn-next{
    right: 5px;
    display: none;
}

.btn-prev{
    left: 5px;
    display: none;
}

.slidenumber{
    background: hsl(12, 16.1%, 93.9%, 60%);
    box-shadow: 0 0 10px 10px hsl(12, 16.1%, 93.9%, 60%);
    letter-spacing: 4px;
    position: absolute;
    top: 25px;
    left: 50%;
    width: 40px;
    display: none;
}

.caption{
    background: hsl(12, 16.1%, 93.9%, 60%);
    box-shadow: 0 0 10px 10px hsl(12, 16.1%, 93.9%, 60%);
    font-size: 15px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    display: none;
}

/* ----------------card---------------------- */
.card-holder{
    display: inline-block;
    position: relative;
    margin: 30px;
    width: 350px;
    height: 350px;
    border-radius: 15% 0 15% 0;
}

.card{
    vertical-align: top;
    display: inline-block;
    background: hsla(20, 100%, 70%, 60%);
    box-shadow: 5px 5px 10px #8E8D8A;
    padding: 20px;
    width: 350px;
    height: 350px;
}

.card img{
    min-width: 128px;
    max-width: 280px;
    max-height: 200px;
    padding: 20px 0 10px 0;
}

.overlay { 
    position: absolute; 
    top: 0px;
    left: 0;
    width: 350px;
    transition: all 1s ease; 
    opacity: 0%; 
    background-color: #8E8D8A;
    color: #f2eeed;
    padding: 20px;
} 

.card-holder:hover .overlay{
    opacity: 100%;
}

.overlay-top{ 
    height: 0;   
} 

.card-holder:hover .overlay-top{ 
    height: 350px; 
} 

.answer{
    padding: 20px;
}

/* --small version */
.card-row-small{
    height: 320px;
}

.card-holder-small{
    vertical-align: top;
    position: relative;
    margin: 30px 26px;
    width: 250px;
    height: 250px;
    border-radius: 15% 0 15% 0;
    display: inline-block;
}

.card-small{
    vertical-align: top;
    display: inline-block;
    background: hsl(45, 2%, 55%, 60%);
    box-shadow: 5px 5px 10px #8E8D8A;
    padding: 30px;
    width: 250px;
    height: 250px;
    color: #f2eeed;
}

.card-small img{
    max-width: 120px;
    max-height: 120px;
    padding-bottom: 20px;
}

.card-small:hover{
    box-shadow: 5px 10px 20px #8E8D8A;
}

.overlay-small { 
    position: absolute; 
    top: 0px;
    left: 0;
    width: 250px;
    transition: all 1s ease; 
    opacity: 0%; 
    background-color: #8E8D8A;
    color: #f2eeed;
    padding: 20px;
} 

.card-holder-small:hover .overlay-small{
    opacity: 100%;
}

.overlay-top-small{ 
    height: 0;   
} 

.card-holder-small:hover .overlay-top-small{ 
    height: 250px;
} 

.card-small .btn{
    cursor: pointer;
    position: absolute;
    top: 210px;
    right: 18px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    transition: 0.5s;
    color: #f2eeed;
    background-color: none;
}


/*---------------Modal------------- */
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;  
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #f2eeed;
    margin: auto;
    padding: 20px;
    border: 0.5px solid #8E8D8A;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #8E8D8A;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #ff9966;
    cursor: pointer;
  }


/* -----------------contact form------------ */
#contact-form{
    width: 500px;
    margin: 50px auto;
    padding: 45px 30px;
}

#contact-form hr{
    margin: 0px auto 10px auto;
}

.form-field{
    margin-top: 10px;
    position: relative;
}

.form-field input, .form-field .input{
    display: block;
    line-height: 2.4em;
    width: 80%;
    margin: auto;
    border-radius: 3px;
    border-width: 0.5px;
    border-color: #8E8D8A;
    padding: 0 10px;
    color: #8E8D8A;
    background-color: white;
}

.form-field input:focus, .form-field .input:focus{
    border-width: 1px;
    outline-color: #f2eeed;
}

.form-field label{
    width: 80%;
    margin: auto;
    text-align: left;
    display: block;
}

#contact-form button:hover{
    background-color: #fefefe;
}

#job-title-dropdown{
    padding: 8px 10px;
}

/* ------------------footer------------------ */
#main-footer{
    background-color: #8E8D8A;
    color: #f2eeed;
    height: 20%;
    overflow: auto;
}

