/* colors */
/* 
almost white: #fefefe
light brown: #D8C3A5
dark brown: #8E8D8A
light orange: #E98074
dark orange: #E85A4F
 */

#greeting-container {
  margin-top: 20px;
}

/* my part */

/* ------------general styling------------- */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    text-align: center;
    text-decoration: none;
    color: #8E8D8A;
}

a{
    text-decoration: none;
    color: #fefefe;
}

a:hover{
    color: #8E8D8A;
}

ul{
    list-style: none;
}

li{
    text-decoration: none;
}

h1{
    padding: 20px 0;
    font-size: 46px;
}

h2{
    padding: 10px 0;
    font-size: 32px;
}

.text-primary{
    color: #fefefe;
}

.link-light{
    color: #fefefe;
}

.link-light:hover{
    color: #8E8D8A;
}

/* --------------content------------------- */
/* ------navbar------ */
#navbar{
    background-color: #8E8D8A;
    height: 80px;
    position: sticky;
    top: 0;
}

#navbar #menu-title{
    float: left;
    font-size: 46px;
    text-align: center;
    margin: 22px 25px;
}

#navbar #menu-title a{
    color: #EAE7DC;
}

#navbar ul{
    float: right;
    list-style: none;
    height: 100%;
}

#navbar li{
    float: left;
}

#navbar li a{
    text-align: center;
    padding: 25px;
    display: block;
    color: #EAE7DC;
}

#navbar li a:hover,
#navbar li a.current{
    background-color: #D8C3A5;
    color: #E98074
}

/* ------home info-- */
#home-info{
    height: 844px;
    background-color: #fefefe
}

#home-info #info-img{
    object-fit: contain;
    background: url('./images/bori_bg.jpg');
    background-repeat: no-repeat;
    min-width: 700px;
    height: 844px;
    padding: 100px 50px 0 0;
}

#home-info #info-img #info-content{
    background-color: hsla(6, 73%, 68%, 80%);
    position: absolute;
    top: 50px;
    right: 50px;
    color: #8E8D8A;
    border-radius: 15% 0 15% 0;
    padding: 100px;
    text-align: right;
    width: 505px;
    display: block;
}

/* ------side navbar for social media----- */
#my-sidenav{
    margin-top: 500px;
}

#my-sidenav ul{
    position: absolute;
    right: -20px;
}

#my-sidenav ul li{
    height: 50px;
    border-radius: 15px 0 15px 0;
    background-color: #8E8D8A;
    margin: 5px;
    padding: 10px;
    width: 120px;
    position: absolute;
    right: -30px;
    transition: 0.3s;
}

#my-sidenav #linkedin{
    position: absolute;
    top: 60px;
}
  
#my-sidenav ul li:hover {
   right: 0; /* On mouse-over, make the elements appear as they should */
}

/* icons' source: https://www.iconsdb.com/white-icons/linkedin-icon.html */

/* -----footer----- */
#main-footer{
    background-color: #8E8D8A;
    color: #EAE7DC;
    height: 20%;
}

